<%= form_tag search_path, method: :get, class: 'isTextCentered' do %>
  <div class="field">
    <%= text_field_tag :cuisine, params[:cuisine], placeholder: 'Cuisine', class: 'Input' %>
  </div>

  <div class="field">
    <%= text_field_tag :ingredient, params[:ingredient], placeholder: 'Ingredient', class: 'Input' %>
  </div>

  <%= submit_tag 'Search', name: nil, class: 'Button' %>
<% end %>

<div class='isTextCentered'>
  <% @recipes.each do |recipe| %>
    <div class='Recipe'>
      <h4 class='Recipe-name'><%= recipe.name %></h4>
      <p class='Recipe-property'>
        <span class='Recipe-propertyTitle'>Cuisine</span>: <%= recipe.cuisine %>
      </p>
      <p class='Recipe-property'>
        <span class='Recipe-propertyTitle'>Cooking time</span>: <%= recipe.cooking_time %> min
      </p>
      <p class='Recipe-property'>
        <span class='Recipe-propertyTitle'>Ingredients</span>: <%= recipe.ingredients.pluck(:name).join(', ') %>
      </p>
      <p><%= recipe.instructions %></p>
    </div>
  <% end %>

  <% if @recipes.empty? %>
    <br><br>
    <h3>No recipes found</h3>
  <% end %>
</div>
