<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'Input Input-isWide' %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions, class: 'Input TextInput Input-isWide' %>
  </div>

  <div class="field">
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine, class: 'Input Input-isWide' %>
  </div>

  <div class="field">
    <%= f.label :cooking_time %>
    <%= f.number_field :cooking_time, class: 'Input' %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit class: 'Button' %>
  </div>
<% end %>
