<% if @recipes.empty? %>
  <h4>No recipes</h4>
<% else %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructions</th>
      <th>Cuisine</th>
      <th>Cooking time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= truncate(recipe.instructions) %></td>
        <td><%= recipe.cuisine %></td>
        <td><%= recipe.cooking_time %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>

<%= link_to 'Create a recipe', new_recipe_path, class: 'Button' %>
