<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='layout-outer'>
      <div class='layout-fixed'>
        <%= link_to search_path, class: 'isTextCentered Head' do %>
          <%= image_tag 'cookbook_logo.png', class: 'Head-logo' %>
          <div class='Head-title'>Cookbook</div>
        <% end %>

        <br>

        <% if flash[:error] %>
          <p id="error"><%= flash[:error] %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
